#navbar {
  position: sticky;
  display: flex;
  width: 100vw;
  padding: 20px;
  top: 0;
  justify-content: center;
  backdrop-filter: blur(10px);
  z-index: 999;

  .menu-links {
    display: flex;
    width: 100%;
    max-width: 600px;
    gap: 50px;
    list-style: none;
    justify-content: center;

    .menu-link {
      font-size: 2rem;
      transition: color 0.2s ease;

      &:hover {
        color: var(--clr-text-green);
      }
    }
  }
}
