#user {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  gap: 40px;

  .users-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }
}
