.profile-pict {
  position: relative;
  display: flex;
  width: 40px;
  height: 40px;
  color: var(--clr-text-white);
  font-size: 1rem;
  font-weight: 500;
  line-height: 0;
  background-color: var(--clr-light);
  border-radius: 50%;
  align-items: center;
  justify-content: center;

  .status {
    position: absolute;
    width: 25%;
    height: 25%;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    outline: 3px solid var(--clr-white);
  }

  .active {
    background-color: var(--clr-green-special);
  }

  .inactive {
    background-color: var(--clr-light);
  }
}
