#searchBar {
  display: flex;
  padding: 15px 20px;
  gap: 10px;
  background-color: var(--clr-white);
  border-radius: 10px;
  box-shadow: var(--box-shadow-small);
  justify-content: center;
  align-items: center;

  .search-icon {
    opacity: 0.5;
  }

  .input-col {
    flex: 1;
    outline: none;
    border: none;
    background-color: transparent;
  }

  .clear-btn {
    transition: color 0.2s ease;
    cursor: pointer;

    &:hover {
      color: var(--clr-text-red);
    }
  }
}
